@import "../../../styles/var.scss";

.wrapper{
    padding: 64px 100px;
    display: flex;

    .image_wrapper{
        width: 609px;
        height: 777px;
        margin-right: 24px;
    }
    .text_wrapper{
        .title_description{
            display: flex;
            text-align: center;

            h2{
                @include h3;
                margin: 0;
            }
        }

        h6{
            @include t2;
            margin: 12px 0;
        }
        p{
            @include t3;
            margin: 0 0 8px;
        }
    }
    
}