.wrapper{
    margin: 132px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .container{
        height: auto;
        margin: 16px 0 0;
        width: 1243px;
        overflow: hidden;
        
        .content{
            display: flex;
            width: 3729px;
            
            .slide{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 1243px;
                gap: 20px;
                cursor: pointer;
                pointer-events: none;
                user-select: none;
                @media screen and (min-width : 769px) and (max-width: 1339px) {
                    width: 640px;
                }
                
                .imageWrapper{
                    width: auto;
                    height: auto;

                    img{
                        width: 401px;
                        height: auto;
                        pointer-events: none;
                        user-select: none;
                        @media screen and (min-width : 769px) and (max-width: 1339px) {
                            width: 310px;
                        }
                        
                    }
                }   
            }
        }
    }
    .dots_wrapper{
        display: flex;
        gap: 27px;
        margin: 64px 0 16px;
    }
}
@media screen and (min-width : 769px) and (max-width: 1339px) {
    .wrapper{
        margin: 132px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container{
            width: 640px;
            margin: 16px 0 0;
            .content{
                display: flex;
                width: 1920px;
            }
            
        }
        .dots_wrapper{
            display: flex;
            gap: 27px;
            margin: 44px 0 16px;
        }
    }
}

@media screen and (min-width : 300px) and (max-width: 768px) {
    .wrapper{
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        
        .container{
            display: flex;
            height: auto;
            margin: 64px 20px 24px;
            width: 350px;
            overflow: hidden;
            
            .content{
                display: flex;
                width: 6300px;

                .slide{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: unset;
                    gap: 0;
                    width: 350px;
                    pointer-events: none;
                    user-select: none;
                    
                    .imageWrapper{
                        width: auto;
                        height: auto;

                        img{
                            width: 350px;
                            height: auto;
                            pointer-events: none;
                            user-select: none;
                        }
                    }   
                }
            }
        }
        .dots_wrapper{
            display: flex;
            margin: 0;
            gap: 14px;
        }
    }
}