@import "../../../styles/var.scss";
@media screen and (min-width: 769px) {
    .evants_wrap{
        margin-top: 132px;
        .evants_container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .evants_header{
                h2{
                @include h2;
                margin: 0
                }
            }
            
        }
    }
}
@media screen and (max-width: 768px) {
    .evants_wrap{
        margin-top: 64px;
        padding: 0 20px;
        .evants_container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .evants_header{
                h2{
                @include h3;
                margin: 0
                }
            }
            
        }
    }
}
