@import "../../../styles/var.scss";
.report_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 769px){
        margin-top: 132px;
        margin-bottom: 173px;
    }
    @media screen and (max-width: 768px){
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .report_container{
        width: 1240px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1340px) and (min-width: 769px){
            margin: 0 100px;
        }
        @media screen and (max-width: 768px){
            margin: 0 20px;
        }
        .report_header_wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2{
                text-align: center;
                @media screen and (min-width: 769px){
                    @include h2;
                }
                @media screen and (max-width: 768px){
                    @include h3;
                }
            }
            p{
                text-align: center;
                max-width: 658px;
                @media screen and (min-width: 769px){
                    @include t1;
                    margin-top: 24px;
                }
                @media screen and (max-width: 768px){
                    @include t5;
                    margin-top: 16px;
                }
            }
        }
        .document_wrap{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            @media screen and (min-width: 769px){
                margin-top: 64px;
                align-items: center;
            }
            @media screen and (max-width: 768px){
                margin-top: 48px;
                gap: 24px;
            }
            .document_item_wrap{
                display: flex;
                flex-direction: column;
                @media screen and (max-width: 768px){
                    gap: 16px;
                    min-height: 88px;
                }
                .document_item_text{
                    @media screen and (min-width: 769px){
                        margin-top: 28px;
                    }
                    p{
                        @media screen and (min-width: 769px){
                            @include t1;
                        }
                        @media screen and (max-width: 768px){
                            @include t5;
                        }
                        text-align: center;
                    }
                }
                .document_item_icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: 768px){
                        height: 80px;
                    }
                    @media screen and (max-width: 768px){
                        svg{
                            max-width: 59px;
                            width: auto;
                            height: 64px;
                        }
                    }
                }
            }
        }
    }
}