@import "../../../styles/var.scss";

.wrapper{
    margin-top: 132px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 58px 100px;
    background-color: $color_accent;
    border-radius: 50px;

        h1{
            @include h1;
            margin: 0;
        }
        p{
            margin: 16px 0 0;
            @include t1;
        }
        .slider_wrapper{
            display: flex;
            margin: 64px 0;
            border: 1px solid black;
            max-width: 1240px;
            height: 747px;
            gap: 20px;
        }
}