//---Colors---//
$color_blue_hover: #497792;
$color_blue_main: #0067b3;
$color_card: #99b1bf;
$color_accent: #63ABDF;
$color_white_blue_accent: #CCE5F3;
$color_white_background: #ffffff;
$color_light_gray_disabled_primary: #b3b4b6;
$color_disabled_secondary: #888888;
$color_disabled_third: #ECECEC;
$color_text: #1E1E1E;
$color_text_black: #000000;


//---Text---//
$font_weight: 400;
$font_weight_bold: 700;
$font_size_t1: 24px;
$font_size_t2: 20px;
$font_size_t3:18px;
$font_size_t4:16px;
$font_size_t5:14px;

//css function
@mixin flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

//---Headline---//
@mixin h1{
    font-size: 64px;
    font-weight: $font_weight;
    line-height: 77.45px;
    color: $color_text_black;
    margin: 0;
}
@mixin h1_bold{
    @include h1;
    font-weight: $font_weight_bold;
    margin: 0;
}
@mixin h2{
    font-size: 48px;
    font-weight: $font_weight;
    line-height: 58.09px;
    color: $color_text_black;
    margin: 0;
}
@mixin h2_bold{
    @include h2;
    font-weight: $font_weight_bold;
    margin: 0;
}
@mixin h3{
    font-size: 32px;
    font-weight: $font_weight;
    line-height: 38.73px;
    color: $color_text_black;
    margin: 0;
}
@mixin h3_bold{
    @include h3;
    font-weight: $font_weight_bold;
    margin: 0;
}
@mixin h4{
    font-size: 24px;
    font-weight: $font_weight;
    line-height: 29.05px;
    color: $color_text_black;
    margin: 0;
}
//---Typography---//
//---Primary text---//
@mixin t1{
    font-size: $font_size_t1;
    font-weight: $font_weight;
    line-height: 29.05px;
    color: $color_text_black;
}
//---Secondary text---//
@mixin t2{
    font-size: $font_size_t2;
    font-weight: $font_weight;
    line-height: 24.2px;
    color: $color_text_black;
}
@mixin t2_underline{
    font-size: $font_size_t2;
    font-weight: $font_weight;
    line-height: 24.2px;
    color: $color_text_black;
    text-decoration: underline;
}
//---Others text
@mixin t3{
    font-size: $font_size_t3;
    font-weight: $font_weight;
    line-height: 21.78px;
    color: $color_text_black;
}

@mixin t4{
    font-size: $font_size_t4;
    font-weight: $font_weight;
    line-height: 19.36px;
    color: $color_text_black;
}

@mixin t5{
    font-size: $font_size_t5;
    font-weight: $font_weight;
    line-height: 17.5px;
    color: $color_text_black;
}

@mixin t_button{
    font-size: 16px;
    font-weight: $font_weight;
    line-height: 19.36px;
}

//buttons
@mixin button_size{
    @include t_button();
    @include flex_center();
    width: 350px;
    height: 70px;
    border-radius: 20px;
    text-transform: uppercase;
}
@mixin button_setting_primary($bc){
    @include button_size;
    background-color: $bc;
    color: $color_white_background;
    text-decoration: none !important
}

@mixin button_setting_secondary($bc){
    @include button_size;
    background-color: $color_white_background;
    border: 1px solid $bc;
    color: $bc;
    text-decoration: none !important;
}
//button default
@mixin button_default{
    @include button_setting_primary($bc: $color_blue_main)
}
@mixin button_default_secondary{
    @include button_setting_secondary($bc: $color_blue_main)
}
//button hover and presed
@mixin button_hover{
    @include button_setting_primary($bc: $color_blue_hover)
}
@mixin button_hover_secondary{
    @include button_setting_secondary($bc: $color_blue_hover)
}
//button disabled
@mixin button_disabled{
    @include button_setting_primary($bc: $color_disabled_secondary)
}
@mixin button_disabled_secondary{
    @include button_setting_secondary($bc: $color_disabled_secondary)
}