//---Colors---//
$color_blue_hover: #497792;
$color_blue_main: #0067b3;
$color_card: #99b1bf;
$color_white_blue_accent: #CCE5F3;
$color_white_background: #ffffff;
$color_light_gray_disabled_primary: #b3b4b6;
$color_disabled_secondary: #888888;
$color_disabled_third: #ECECEC;
$color_text: #1E1E1E;


//---Text---//
$font_weight: 400;
$font_weight_bold: 600;
$font_size_t1: 24px;
$font_size_t2: 20px;
$font_size_t3:18px;
$font_size_t4:16px;
$font_size_t5:14px;

//css function
@mixin flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

//---Headline---//
@mixin h1{
    font-size: 48px;
    font-weight: $font_weight;
    line-height: 57.6px;
    color: $color_text;
}
@mixin h2{
    font-size: 36px;
    font-weight: $font_weight;
    line-height: 36px;
    color: $color_text;
}
@mixin h3{
    font-size: 32px;
    font-weight: $font_weight;
    line-height: 44.16px;
    color: $color_text;
}
@mixin h4{
    font-size: 24px;
    font-weight: $font_weight;
    line-height: 33.12px;
    color: $color_text;
}
//---Typography---//
//---Primary text---//
@mixin t1{
    font-size: $font_size_t1;
    font-weight: $font_weight;
    line-height: 33.12px;
    color: $color_text;
}
//---Secondary text---//
@mixin t2{
    font-size: $font_size_t2;
    font-weight: $font_weight;
    line-height: 26px;
    color: $color_text;
}
@mixin t2_underline{
    font-size: $font_size_t2;
    font-weight: $font_weight;
    line-height: 20px;
    color: $color_text;
}
//---Others text
@mixin t3{
    font-size: $font_size_t3;
    font-weight: $font_weight;
    line-height: 24.84px;
    color: $color_text;
}

@mixin t4{
    font-size: $font_size_t4;
    font-weight: $font_weight;
    line-height: 18.4px;
    color: $color_text;
}

@mixin t5{
    font-size: $font_size_t5;
    font-weight: $font_weight;
    line-height: 16.8px;
    color: $color_text;
}

@mixin t_button{
    font-size: 16px;
    font-weight: $font_weight;
    line-height: 18.4px;
}

//buttons
@mixin button_size{
    @include t_button();
    @include flex_center();
    width: 350px;
    height: 70px;
    border-radius: 20px;
    text-transform: uppercase;
}
@mixin button_setting_primary($bc){
    @include button_size;
    background-color: $bc;
    color: $color_white_background;
    text-decoration: none
}

@mixin button_setting_secondary($bc){
    @include button_size;
    background-color: $color_white_background;
    border: 1px solid $bc;
    color: $bc;
    text-decoration: none;
}
//button default
@mixin button_default{
    @include button_setting_primary($bc: $color_blue_main)
}
@mixin button_default_secondary{
    @include button_setting_secondary($bc: $color_blue_main)
}
//button hover and presed
@mixin button_hover{
    @include button_setting_primary($bc: $color_blue_hover)
}
@mixin button_hover_secondary{
    @include button_setting_secondary($bc: $color_blue_hover)
}
//button disabled
@mixin button_disabled{
    @include button_setting_primary($bc: $color_disabled_secondary)
}
@mixin button_disabled_secondary{
    @include button_setting_secondary($bc: $color_disabled_secondary)
}