@import "../../../styles/var.scss";

.goal_container{
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1023px){
        margin: 64px 100px 0 100px;
    }
    @media screen and (max-width: 1023px) and (min-width: 769px) {
        margin: 64px 100px 0 100px;
    }
    @media screen and (max-width: 768px){
        margin: 48px 20px 0 20px;
    }
    .goal_wrap{
        @media screen and (min-width: 1340px){
            width: 1240px;
        }
        @media screen and (max-width: 1339px) and (min-width: 769px) {
            width: 100%;
        }
        display: flex;
        @media screen and (min-width: 1000px){
            flex-direction: row;
        }
        @media screen and (max-width: 999px){
            flex-direction: column;
        }
        @media screen and (min-width: 769px) {
            gap: 48px;
        }
        @media screen and (max-width: 768px) {
            gap: 24px;
        }
        
        .goal_image_wrap{
            @media screen and (min-width: 1340px){
                width: 610px;
                height: 600px;
            }
            @media screen and (max-width: 1339px) and (min-width: 1000px) {
                width: 610px;
            }
            @media screen and (max-width: 999px){
                width: 100%;
            }
            border-radius: 20px;
            overflow: hidden;
            img{
                width: 100%;
                @media screen and (min-width: 1340px){
                    height: 100%;
                }
                @media screen and (max-width: 1339px)  and (min-width: 426px){
                    height: auto;
                }
                @media screen and (max-width: 425px){
                    height: 250px;
                }
                object-fit: cover;
            }
        }
        .goal_desciption_wrap{
            
            @media screen and (min-width: 1000px){
                width: 582px;
            }
            @media screen and (max-width: 999px){
                width: 100%;
            }
            .goal_description_header{
                h3{
                    @media screen and (min-width: 769px) {
                        @include h3;
                        margin: 0;
                    }
                    @media screen and (max-width: 768px) {
                        @include t3;
                        margin: 0;
                    }
                }
            }
            .goal_description_text_wrap{
                @media screen and (min-width: 769px) {
                    margin-top: 12px;
                }
                p{
                    @media screen and (min-width: 769px) {
                        @include h4;
                        margin: 0;
                    }
                    @media screen and (max-width: 768px) {
                        @include t3;
                        margin: 0;
                    }
                }
            }
        }
    }
}