@import "../../../styles/var.scss";

.button{
    @include button_default_secondary;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    &:hover{
        @include button_hover_secondary;
    }
    &:active{
        @include button_hover_secondary;
    }
    &:disabled{
        @include button_disabled_secondary;
    }
}