@import "../../styles/var";

.footer {
  height: 217px;
  margin: 0;
  padding: 82px 100px 90px;
  border-radius: 24px 24px 0 0;
  background-color: $color_blue_main;
  display: flex;
  justify-content: space-between;

    .wrapper_logos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 43%;

      .logo {
        display: flex;
        margin: 0 0 35px;
        justify-content: center;
      }

      .wrapper_icons {
        display: flex;
        justify-content: space-between;
        width: 110px;
      }
    }

    .wrapper_menu_contacts{
        display: flex;
        width: 33%;
        justify-content: space-between;

        .wrapper_menu {
            display: flex;
            flex-direction: column;
            color: $color_white_background;
                p {
                    font-weight: $font_weight_bold;
                    margin-top: 0;
                    margin-bottom: 20px;
                }
                a {
                    margin-bottom: 12px;
                    color: $color_white_background;
                    text-decoration: none;

                    &:hover {
                    text-decoration: underline;
                    }
                }
        }
  
        .wrapper_contacts {
            display: flex;
            flex-direction: column;
            width: 180px;
                p {
                    font-weight: $font_weight_bold;
                    margin-top: 0;
                    margin-bottom: 20px;
                    color: $color_white_background;
                }
                span, a {
                    margin-bottom: 12px;
                    color: $color_white_background;
                }
                a {
                    text-decoration: none;

                    &:hover {
                    text-decoration: underline;
                    }
                }
        }
    }

    .wrapper_politics {
      display: flex;
      flex-direction: column;

        &:first-child {
            margin-bottom: 12px;
        }
        a {
            margin-bottom: 12px;
            color: $color_white_background;
            text-decoration: none;

            &:hover {
            text-decoration: underline;
            }
        }
    }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px 20px 60px;

    .wrapper_logos {
      align-items: center;
      width: 100%;

      .logo {
        margin: 15px 0 25px;
      }

      .wrapper_icons {
        width: 103px;
        justify-content: space-between;
      }
    }

    .wrapper_menu_contacts {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 58px;

      .wrapper_menu,
      .wrapper_contacts {
        width: 100%;
        margin-bottom: 100px;
      }
      .wrapper_contacts{
        padding-left: 50px;
      }
    }

    .wrapper_politics {
      align-items: center;
      width: 100%;

      a {
        text-align: center;
      }
    }
  }
}