@import "../../../../styles/var.scss";

.member{
    width: 340px;
    h1{
        @include h3;
        margin: 32px 0 12px;
    }
    h3{
        @include t2;
        margin-bottom: 20px;
    }
    p{
        @include t2;
        margin: 0;
    }
}