@import "../../../styles/var.scss";
.help_container{
    @media screen and (min-width: 769px) {
        margin-top: 180px;
    }
    @media screen and (max-width: 768px) {
        margin-top: 64px;
    }
    width: 100%;
    .help_wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 769px) {
            margin: 0 100px;
        }
        @media screen and (max-width: 768px) {
            margin: 0 20px;
        }
        @media screen and (max-width: 1004px) {
            align-items:normal !important
        }
        .help_header{
            h2{
                @media screen and (min-width: 1340px) {
                    @include h2;
                    min-width: 430px;
                }
                @media screen and (max-width: 1339px) and (min-width: 769px) {
                    @include h2;
                    font-size: 47px;
                    min-width: 430px;
                    /* margin-bottom: 32px; */
                }
                @media screen and (max-width: 768px) {
                    @include h3;
                    text-align: center;
                    /* margin-bottom: 32px; */
                }
            }
        }
        .help_description_wrap{
            display: flex;
            flex-direction: row;
            @media screen and (min-width: 1340px) {
                width: 1240px;
            }
            @media screen and (max-width: 1004px) {
                flex-direction: column !important;
            }
            .help_header{
                @media screen and (max-width: 1339px){
                    margin-bottom: 32px;
                }
            }
            .help_description{
                @media screen and (min-width: 1004px) {
                    margin-left: 64px;
                }   
                display: flex;
                flex-direction: column;
                max-width: 732px;
                @media screen and (min-width: 769px) {
                    gap: 20px;
                }
                @media screen and (max-width: 768px) {
                    gap: 8px;
                    margin-bottom: 32px;
                }
                p{
                    @media screen and (min-width: 769px) {
                        @include t1;
                    }
                    @media screen and (max-width: 768px) {
                        @include t5;
                    }
                }
            }
        }
        .help_supports_wrap{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            @media screen and (min-width: 769px) {
                margin-top: 64px;
            }
            .help_header{
                @media screen and (min-width: 1340px) {
                    width: 1240px;
                }
                @media screen and (max-width: 1339px){
                    width: 100%;
                }
            }
            .support_description{
                @media screen and (min-width: 1340px) {
                    width: 1255px;
                }
                @media screen and (max-width: 1339px) {
                    justify-content: space-around;
                }
                display: flex;
                gap: 24px;
                flex-wrap: wrap;
                @media screen and (min-width: 769px) {
                    margin-top: 80px;
                }
                @media screen and (max-width: 768px) {
                    margin-top: 32px;
                }
                .help_item_container{
                    width: 100%;
                }
                .support_description_item_wrap{
                    @media screen and (min-width: 1340px) {
                        width: 615px;
                    }
                    @media screen and (max-width: 1339px) and (min-width: 1005px) {
                        max-width: 48%;
                    }
                    @media screen and (max-width: 1004px) {
                        width: 100%;
                    }
                    @media screen and (min-width: 769px) {
                        gap: 24px;
                    }
                    @media screen and (max-width: 768px) {
                        gap: 20px;
                    }
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    .support_description_item_image_wrap{
                        width: 100%;
                        @media screen and (min-width: 1300px) {
                            height: 400px;
                        }
                        @media screen and (max-width: 1300px) and (min-width: 1135px) {
                            height: 362px;
                        }
                        @media screen and (max-width: 1134px) and (min-width: 1004px) {
                            height: 309px;
                        }
                        @media screen and (max-width: 1003px)  and (min-width: 426px) {
                            height: 440px;
                        }
                        @media screen and (max-width: 425px) {
                            height: 180px
                        }
                        border-radius: 20px;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover
                        }
                    }
                    .support_description_item_text_wrap{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        p{
                            @media screen and (min-width: 769px) {
                                @include h3;
                            }
                            @media screen and (max-width: 768px) {
                                @include t3;
                            }
                            margin: 0;
                        }
                        .add_text{
                            @include t5;
                        }
                    }
                }
        }
        }
    }
}