
.project_container{
    @media screen and (min-width: 769px){
        margin: 132px 100px 0 100px;
    }
    @media screen and (max-width: 768px){
        margin: 48px 20px 0 20px;
    }

    display: flex;
    justify-content: center;
    .project_wrap{
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 769px){
            gap: 42px;
        }
        @media screen and (max-width: 768px){
            gap: 48px;
        }
        @media screen and (min-width: 1340px){
            width: 1240px;
        }
        @media screen and (max-width: 1339px) and (min-width:769px){
            width: 100%;
        }
    }
}