@import "../../../../styles/var.scss";

.wrapper{
    padding: 29px 20px 48px;
    display: flex;
    flex-direction: column;

    .title_description{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

            h2{
                @include h3;
                margin: 0;
            }
            h6{
                @include t4;
                width: 286px;
                margin: 12px 0 29px;
            }
    }

    .image_wrapper{
        width: 350px;
        height: 274px;
        overflow: hidden;
        border-radius: 20px;
        align-items: center;

        img{
            width: 350px;
            height: 410px;
        }
    }
    .text_wrapper{
        margin-top: 24px;
        p{
            @include t5;
            margin: 0 0 8px;
        }
    }
}

@media (max-width: 300px) {
    .wrapper{
    padding: 29px 20px 48px;
    display: flex;
    flex-direction: column;

    .title_description{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

            h2{
                @include h3;
                margin: 0;
            }
            h6{
                @include t4;
                width: 286px;
                margin: 12px 0 29px;
            }
    }

    .image_wrapper{
        width: 330px;
        height: 274px;
        overflow: hidden;
        border-radius: 20px;
        align-items: center;

        img{
            width: 330px;
            height: 410px;
        }
    }
    .text_wrapper{
        margin-top: 24px;
        p{
            @include t5;
            margin: 0 0 8px;
        }
    }
}
}