@import "../../styles/var.scss";

.wrapper{
    height: 77px;
    background-color: $accent_color;
    padding: 48px 100px;
    border-radius: 0px 0px 20px 20px;

    .title{
        margin: 0;
        @include h1_bold;
        color: white;
    }
}

@media (max-width: 768px) {
    .wrapper{
        margin-top: 14px;
        height: 39px;
        background-color: $accent_color;
        padding: 48px 20px;
        border-radius: 0px 0px 20px 20px;

        .title{
            margin: 0;
            @include h3_bold;
            color: white;
        }
    }
}